*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
              box-sizing: border-box;
}
.wrapper{
	min-width: 320px;
	font-family: $SFTL, sans-serif;	
}
a{
	text-decoration: none;
}
ul li{
	display: inline-block;
	list-style: none;
}

.banner{
	background: #fff;
	position: fixed;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	width: 375px;
	@include ip55s{
		width: 320px;
		height: 568px;
	}
	@include ip678{
		width: 375px;
		height: 667px;
	}
	@include ipx{
		width: 375px;
		height: 812px;
	}
	@include ip678plus{
		width: 414px;
		height: 736px;
	}
	&:before{
		position: absolute;
		content: "";
		top: calc(100vh - 42px);
		left: 0;
		width: 100%;
		height: 42px;
		z-index: 9;
		background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 100%);
		@include ip55s{
			background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
		}
		@include height812{
			top: calc(100vh - 72px);
		}
	}
	@include height812{
		&:after{
			content: "";
			position: absolute;
			background: #fff;
			left: 0;
			top: calc(100vh - 30px);
			width: 100%;
			height: 30px;
		}
	}
	.close{
		position: absolute;
		right: 17px;
		top: 14px;
		@include ipx{
			top: 55px;
		}
	}
	&-scroll{
		overflow: auto;
		overflow: -moz-scrollbars-none; // Firefox old
		-ms-overflow-style: none;  // IE 10+
	    scrollbar-width: none;  // Firefox
		height: 100vh;
		padding-top: 22vh;
		@include ip55s{
			padding-top: 17vh;
		}
		@include ipx{
			padding-top: 26vh;
		}
	}
	h1{
		font: 34px $SFDB;
		padding-bottom: 35px;
		@include ip55s{
			font-size: 32px;
		}
	}
	.button{
		@include flex;
		@include align-items(center);
		justify-content: space-between;
		width: 90.3382%;
		height: 70px;
		border-radius: 100px;
		border: 1px solid #ee334b;
		padding: 0 15px 0 30px;
		margin: auto auto 15px;
		&__text{
			color: #ee334b;
			strong{
				font: normal 22px $SFTH;
				text-transform: uppercase;
				@include ip55s{
					font-size: 16px;
				}
			}
			.cost{
				font-size: 17px;
				@include ip55s{
					font-size: 12px;
				}
			}
		}
		&__btn{
			width: 162px;
			padding: 12px;
			color: #fff;
			font: 14px/17px $SFTH;
			letter-spacing: 0.02px;
			text-transform: uppercase;
			border-radius: 100px;
			background-color: rgba(255, 86, 141, 0.98);
			background-image: linear-gradient(270deg, rgba(255, 86, 141, 0.98) 0%, rgba(245, 30, 71, 0.98) 100%);
			@include ip55s{
				font-size: 12px;
				width: 140px;
			}
		}
	}
}
.list{
	width: 69%;
	text-align: left;
	margin: 25px auto auto;
	@include ip55s{
		width: 79%;
	}
	li{
		font-size: 17px;
		line-height: 33px;
		@include ip55s{
			font-size: 16px;
		}
		&:before{
			content: url(../img/check_icon.svg);
			width: 12px;
			height: 12px;
			margin-right: 14px;
		}
	}
}
.privicy{
	position: relative;
	top: 17vh;
	padding-bottom: 42px;
	@include ip55s{
		top: 10vh;
	}
	@include ip678{
		top: 15vh;
	}
	@include height812{
		padding-bottom: 72px;
	}
	p,
	a{
		font: 11px $SFTR;
		color: rgba(0, 0, 0, .56);
	}
	a{
		text-decoration: underline;
	}
}
